
html{
	scroll-behavior: smooth;
}

.nav-item a{
	color: 3333;
}

*{
	margin: 0;
	padding: 0;
   font-family: tahoma;
   box-sizing: border-box;
   font-weight: normal;
}

a,p,h1,h2,h3,h4,h6,h5{
	cursor: pointer;
}

p{
	font-size: 16px;
}
.spaes{
	padding-top:50px;
	padding-bottom: 50px;
}
@font-face {
font-family: mainFontLight;
src        : url("../fonts/Poppins-Light.ttf"),
url("../fonts/Poppins-Light.eot") format("embedded-opentype"),
url("../fonts/Poppins-Light.woff2") format("woff2"),
url("../fonts/Poppins-Light.woff") format("woff"),
url("../fonts/Poppins-Light.ttf") format("truetype"),
url("../fonts/Poppins-Light.svg") format("svg");
}
/* @font-face{
	font-family: lab,
	url("./../")
} */
ul{
list-style: none;
}
a{
	text-decoration: none;
	color: #fff;
}
.nav-item a{
	text-transform: uppercase;
}
a:hover{
	color: #fff;
	text-decoration: none;
}
h1{
	font-size: 50px
}

.navbar-toggler-icon{
	background-color: #fff;
	
}

.navbar1{
	background-color: #804de0;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  }


/*Start of header section*/
header{
	background-image: url(../img/bg-img/welcome-bg.png);
	background-size: cover;
	background-origin: border-box;
	background-position: center;
	padding: 400px 0;
	position: relative;
	/* color:#fff; */
}
nav{
   width: 100%;
   position: absolute;
   top: 25px;
     	display:flex; 

}
/*  */
h1{	
	font-size: 40px;
}
ul{
	width: 40%;

    align-items: center;
justify-content: space-between;
}

.header-nav-sign{
	display:inline-flex; 
	align-items: center;
	
}
.active a{
	color: #fb397d;
}
.nav-item a:hover{
color: #fb397d;
}
.sign-up{

	border: 2px solid #a47ee8;
	font-size: 18px;
  border-radius: 40px 40px  40px 0px;
  padding: 18px 40px;
  color: #fff;
}


.header-title-background{
	opacity: .1;
	font-size: 350px;
	z-index: 5;
	position: absolute;
	top:190px;
	left: 100px
}

.main-title{
      position: absolute;
    top: 349px;
    font-size: 120px;
    left: 110px;
    font-weight: bold;
    opacity: .7
}
.sub-title{
   position: absolute;
       top: 500px;
    left: 136px;
    font-size: 22px;
    text-transform: capitalize;
	opacity: .7;
	color: #fff;
}
.header-title a:nth-of-type(1){
	border: 1px solid #9572e8;
	border-radius: 40px;
	background: #9572e8;
	position: absolute;
	top: 600px;
	left:100px;
	text-align: justify;
	padding: 20px 60px 20px 30px;
	color:#bcb5c6;
}
.header-title a:nth-of-type(2){
	border: 1px solid #fb397d;
	border-radius: 40px 20px;
	background: #fb397d;
	position: absolute;
	top: 600px;
	left:360px;
	padding: 16px 60px;
	color:#bcb5c6;
	text-transform: capitalize;
	font-size: 20px;
	color:#fff;
}
.header-phone{
	width: 700px;
position: absolute;
top: 400px;
right: 50px
}

/*end of Header section*/
/*_________________________________________________________*/
/*Start of special section*/

.special h1,.screanshot>h1{
	color: #5b32b4;
	text-align: center;
}
#line{
  color: #fb397d;
}


.content-spe{
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
   border:1px solid #dac9f5;
   border-radius: 40px 40px 40px 0;
  background-color: #fff;
  text-align: center;
  padding: 10px 12px;
  transition: 1s;

}
.content-spe:hover{
	/* animation: moveing 1s linear 2; */
transform: scale(1.1);
}

/* @keyframes moveing {
	0%,100% {
		transform:scale(1);
	}
    50% {
		transform:scale(1.1);
	}
	90% {
		transform:scale(.9);
	}

  } */

  

.content-spe i{
	color: #fb397d;
	font-size: 40px;
line-height: 2
}
.content-spe h4{
color:#5b32b4;
line-height: 2;
font-size: 20px;
text-transform: capitalize;
  opacity:   .8

}
/* .content-spe p{
	color:#9c9cbf;
	opacity: 1.5
} */

/*end of special section*/
/*__________________________________________________________________*/


.pannar-img img{
   width:100% ;
}


.pannar-dis{
	width: 40%
}
.panner-dis-title{

	color: #5b32b4;
	font-size: 50px;
	text-transform: capitalize;
	font-weight: normal;

}
.panner-dis-deailes{
	padding-top: 20px;
	color:  #957a9c;
	font-weight: normal;
	opacity: .7;
	line-height: 1.5;
	font-size: 18px;
	margin-bottom: 70px
}
.proposition-description a{
	font-size: 20px;
	border: 2px solid #e2d9e6;
/*    border-color:rgb(238, 238, 238);
*/    box-shadow: 10px 10px 10px rgb(000,000,000,.5);
margin-right: 10px;
     text-align: center;
	padding: 20px  50px;
	color:#957a9c;
  border-radius: 60px 50px  50px 0px;
}
/*End proposition section*/
/*________________________________________________________________________*/
/*Start awesome section*/

.awesome-header h1{
	color:  #5b32b4;
	text-align: center;
	line-height: 2;
}
.line-awesome{
	border: 2px solid #fb397d;
	width: 100px;
margin-left: 540px;
margin-bottom: 50px   
}
.awesome-continer{
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px
}

.awesome-continer-itam i{
	color: #fb397d;
	font-size: 40px;
}
.awesome-continer-itam h4{
		color:  #5b32b4;
		font-size: 25px;
		display: inline-block;
		line-height: 3;
        text-transform: capitalize;
        opacity: .8;

}
/* .awesome-continer-itam p{
		color:  #aaa;
		font-size: 16px

} */

/*End awesome section*/
/*_____________________________________________________*/
/*Start  section */
.live-demo-sec-img{
	position: relative;
color: #fff;
}
.live-demo-sec-img img{
width: 100%;

}


.cricle{
    display: inline-block;
    background: #fb397d;
	border-radius: 50%;
	width: 75px;
	height: 75px;
    position: absolute;
    bottom: 50%;
	right: 50%;
	text-align: center;
}

.cricle>i{
	color:#fff;
	font-size: 36px;
margin-top: 25%;
margin-left: 10%;
}



/*End counter section */
/*_________________________________________________________________________*/
/*Start screanshots section */
.screanshot
{
	  	text-transform: capitalize;

}
.screanshot>h3{
	border:2px solid #fb397d;
	width: 100px;
  margin-left:551px;
  margin-bottom: 50px

}
.screanshot-content{
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.screanshot-content>img{
	width: 15%;
	opacity: .5;
	height: 350px
}
.screanshot-content>img:nth-of-type(3){
       box-shadow: 10px 40px 75px rgb(000,000,000,.5);
    opacity: 1;
    width: 20%
}
.screanshot-icons{
	margin-left: 555px
}
/*End screanshots section */
/*_________________________________________________________________*/
/*Start pricing section*/
.pricing{
	width: 100%;
	/* background: #d7e2ea; */
/*	padding: 500px 0
*/}
.pricing h1{
	text-align: center;
	color: #5b32b4;
	line-height: 2
}
.pricing-line{
	border: 2px solid #fb397d;
	width: 100px;
	text-align: center;
    margin-left: 700px;
    margin-bottom: 50px
}
.wrapper-pricing{
	display: flex;
	justify-content: center;
}
.wrapper-pricing-itam{
	background: #fff;
padding-top:30px;
border: 2px solid #dbcfe8;
border-radius: 35px 35px 0px 0;
text-align: center;
transition: 1s;
border-bottom-color:  #fff;
 box-shadow: 10px 10px 10px rgb(000,000,000,.5);

}
.special-container{
	border-radius:0 ;
	border-top-color: #fff;
}
.special-start{
background-color: #fb397d;
color: #fff;
border-radius: 35px 35px 0 0;
text-align: center;
border: 2px solid #dbcfe8;
border-bottom-color: #fb397d;
padding-bottom: 10px;
text-transform: capitalize;
box-shadow: 10px 10px 10px rgb(000,000,000,.5);
}
.special-start h4{
	margin-top: 34px;
}
.wrapper-pricing-itam h4{
color:#5b32b4;
font-size: 22px;
text-transform: capitalize;
}
.wrapper-pricing-itam h2{
color:#fb397d;
font-size: 30px;
}
.wrapper-pricing-itam p{
color:gray;
font-size: 16px;
border-bottom: 1px solid lightgray;
line-height: 1.5;
}
.wrapper-pricing-itam .last-element{
	border-bottom:unset;

}
.wrapper-pricing-footer{
	background-color: #7a72ec;
	border-radius: 0px 0px 50px 0;
padding: 10px;
color: #fff;
border: 2px solid #dbcfe8;
border-top: unset;
text-align: center;
text-transform:  capitalize;
transition: 1s;
box-shadow: 10px 10px 10px rgb(000,000,000,.5);

}
.special-footer
{
	background-color:#fb397d;

}
.wrapper-pricing-footer{
	margin-bottom: 40px;
}

/*End pricing section*/
/*________________________________________________________________*/
/*Start colorbil section*/
   .colorlib{
   	text-align:center;
      color:#5b32b4;
   }
   .colorlib-icon{
       line-height: 4;
       font-size: 30px;
       color: #5b32b4;
   }
   .colorlib-aritacle{
   	padding-bottom: 20px ;
   	font-size: 16px;
   	color: gray;
   }
   .colorlib-sub-title>i{
     color:orange;
   }
    .colorlib-sub-title>h4{
     color:#5b32b4;
     font-size: 20px;
     padding-top: 20px;
   }
   .colorlib-sub-title>p{
     color:#5b32b4;
     font-size: 20px;
     line-height: 2
   }
   .colorlib-img {
   	padding-top: 60px
   }
   .colorlib-img img{
        width: 100px;
        border-radius: 50%;
   }
   .colorlib-img >i:nth-of-type(1),.colorlib-img >i:nth-of-type(2){
   	position: relative;
   	bottom: 50px;
   	right: 50px;
   	font-size: 16px;
   	color:gray;
   }
   .colorlib-img >i:nth-of-type(2){
   	left:50px;
   }
   .colorlib-cricle-icon{
   	padding-top: 50px;
   	color: lightgray
   }
    .colorlib-cricle-icon i{
    	padding-right: 6px
   }
   .colorlib-cricle-icon i:nth-of-type(3){
color:#fb397d;   }
/*End colorbil section*/
/*_____________________________________________________*/
/*Start membership section */
.membership{
padding-top: 50px;
padding-bottom: 50px;
	  background-image: linear-gradient(180deg, #8d67ab, #7a72ec);
}
	
 .membership-sub-title{
	color: #fff;
	font-size: 20px;
	text-transform: capitalize;
	
}

.membership-link{
	position: relative;
	top:20px;
	left:100px
}
.membership-link>a{
		border: 1px solid #fff;
    border-color: rgb(238, 238, 238);
      padding: 20px 50px;
      font-weight: bold;
    color:#fb397d;
    border-radius: 40px 40px 40px 0px;
	 background: #fff;
	 text-transform: uppercase;
	 
}
.wrapper-pricing-footer p{
color: #fff;
}
/*End membership section */
/*______________________________________________________*/
/*Start team section*/
   .team>h1{
     color:#5b32b4;
     text-align: center;
     line-height: 1.8
   }
.team>h3{
	border: 2px solid #fb397d;
	width: 50px;
	margin-left: 575px;
	margin-bottom: 20px
}
.team-content{
	display: flex;
	justify-content: space-between;
text-align: left;
line-height: 1.5
}
.team-content-itam{
	width: 18%;
}
.team-content-itam>img{
   width:300px;
   border-radius: 40px 40px 40px 0
}
.team-content-itam>h4,.team-content-itam>p{
	color:#5b32b4;
	font-size: 20px;
}
.team-content-itam>p{
	opacity: .6
}
/*End team section*/
/*___________________________________________________________*/
/*Start Footer*/
footer{
	width: 100%;
	background: #d7e2ea;
	position: relative;
}
.footer-content{
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-transform: capitalize;
}


.footer-content-itam>span{
   color:lightslategray;
   display: inline-block;
   padding: 25px 0;
 }
 .input-sec{
	margin: 12px 60px;

 }
 .footer-content-itam input ,textarea,.submit{
display: block;
width: 100%;
height: 60px;
outline: none;
padding: 10px;
border-color:#fff;
box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);

}
textarea{
	height: 140px;
	margin-bottom: 22px;
}
.submit{
	display: inline-block;
	background-color: #fb397d;
	color: #fff;
	width: 60%;
text-align: center;
text-transform: uppercase;
box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);

}
input::placeholder,textarea::placeholder{
	text-transform: capitalize;
}

#arrow{
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 50px;
	background: #fb397d;
	color: #fff;
	padding:15px 20px  
}


/*End Footer*/




#testimonials {
	padding: 30px 0;
  }
  
  #testimonials .testimonial-item {
	box-sizing: content-box;
	padding: 30px 30px 0 30px;
	margin: 30px 15px;
	text-align: center;
	min-height: 350px;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  }
  
  #testimonials .testimonial-item .testimonial-img {
	width: 90px;
	border-radius: 50%;
	border: 4px solid #fff;
	margin: 0 auto;
  }
  
  #testimonials .testimonial-item h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 5px 0;
	color: #111;
  }
  
  #testimonials .testimonial-item h4 {
	font-size: 14px;
	color: #999;
	margin: 0;
  }
  
  #testimonials .testimonial-item .quote-sign-left {
	margin-top: -15px;
	padding-right: 10px;
	display: inline-block;
	width: 37px;
  }
  
  #testimonials .testimonial-item .quote-sign-right {
	margin-bottom: -15px;
	padding-left: 10px;
	display: inline-block;
	max-width: 100%;
	width: 37px;
  }
  
  #testimonials .testimonial-item p {
	font-style: italic;
	margin: 0 auto 15px auto;
  }
  
  #testimonials .owl-nav,
  #testimonials .owl-dots {
	margin-top: 5px;
	text-align: center;
  }
  
  #testimonials .owl-dot {
	display: inline-block;
	margin: 0 5px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #ddd;
  }
  
  #testimonials .owl-dot.active {
	background-color: #50d8af;
  }


   .counter-sec {
	margin-top: 100px ;
	margin-bottom: 100px;
	background-image: url(../img/bg-img/welcome-bg.png);
	color: #fff;
}

.counter-box {
    display: block;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 28px
}


@media (max-width: 1200px){
	.header-title-background{
		opacity: .1;
		font-size: 100px;
		z-index: 5;
		position: absolute;
		top:190px;
		left: 100px
	}
	.main-title {
		top: 349px;
		font-size: 57px;
		left: 41px;
		
	}
	.sub-title {
		top: 465px;
		left: 46px;
		
	}
	.header-title a:nth-of-type(1){
		left: 25px;
		top: 561px;
		padding: 20px 27px 20px 30px;

	}
	.header-title a:nth-of-type(2){
		top: 561px;
		left: 260px;
	}
	.header-phone{
		display: none;
	}
	.membership-link{
		
		left:0px
	}
	.input-sec{
		margin: 10px 0;
	
	 }
	  
	
}



.nav-item{
margin-top: 10px;
margin-bottom: 10px;
}
.sign-up:hover{
	background-color: #fff;
	color: #fb397d;
	transition: .5s;
}

@media (max-width: 600px){
	
	
	.sub-title {
		top: 530px;
		left: 46px;
		
	}
	.header-title a:nth-of-type(1){
		left: 7px;
		top: 650px;
		padding: 20px 27px 20px 30px;

	}
	.header-title a:nth-of-type(1){
		/* top: 650px;
		left: 230px;
		padding: 14px 27px 14px 30px; */
display: none;
	}
	.colorlib-img img{
		width: 60px;

	}
	
	.colorlib-img >i:nth-of-type(1){
		bottom: 5px;
		right: 15px;
		
	}
	
	.colorlib-img >i:nth-of-type(2) {
		left: 15px;
		bottom: 5px;
	}
	.header-title a:nth-of-type(2){
		left: 30px;
		top: 650px;

	}
	.input-sec{
		margin: 10px 0;
	
	 }
	
		
}

@media (max-width: 400px){
	.main-title{
		display: none;
	}
	.header-title a:nth-of-type(2){
		top: 750px;
		left: 10px;
		padding: 16px 50px;
	}
	.panner-dis-title{
		font-size: 40px;
	}

	.cricle{
		width: 40px;
		height: 40px;
		bottom: 50%;
		right: 40%;
		text-align: center;
	}
	
	.cricle>i{
		color:#fff;
		font-size: 22px;
	margin-top: 25%;
	margin-left: 10%;
	}
}